.main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: skyblue;
    color: navy;
    /* border: 1px solid black; */
}
.sub{
    text-align: center;
    height: auto;
    flex-basis: 20%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.805);
    /* border: 1px solid black; */
}
button{
    padding: 4px 15px;
    margin: 10px;
    color: white;
    background-color: navy  ;
    border: 1px solid navy;
}