

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: navy;
  background-color: skyblue;
}

.main{
 height:auto;
 flex-basis: 30%;
 padding: 30px;
 border-radius: 20px;
 /* box-shadow: 5px 5px 5px 5px rgb(248, 224, 203); */
 background-color: rgba(239, 231, 231, 0.611);
  /* border: 1px solid black; */
}

h1{
  margin-bottom: 40px;
}

.vote1{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

h3{
  font-size: 21px;
}

h4{
  margin-top: 20px;
  font-size: 22px;
}

button{
 padding: 6px 20px; 
 font-weight: bold;
 border-radius: 10px;
 background-color: rgb(157, 213, 235);
 color: navy;
 border: 1px solid navy;
}

button:disabled{
  background-color: white;
}